<!DOCTYPE html>
<html>
<head>
	<title>Login :: Delta C Workshop</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
</head>
<body>
	<header>
		<h1 id="title">Delta C Workshop</h1>
	</header>
	<div id="sidebar">
		
	</div>
	<div id="main">
		
	</div>

	<script type="text/javascript" src="/javascripts/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/javascripts/underscore.js"></script>
	<script type="text/javascript" src="/javascripts/handlebars-v3.0.3.js"></script>
	<script type="text/javascript" src="/javascripts/backbone.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	<script type="text/javascript">
		var lessons = "{{ lessons }}".split(",");
		var $sidebar = $("#sidebar");

		function prettifyLessonName(lesson) {
			var num, name;
			var match = lesson.match(/^([\d\.]+)(.+)$/);

			num = match[1];
			name = match[2].split("-").map(function(x) {
				return x[0].toUpperCase() + x.substr(1);
			}).join(" ");

			return num + " " + name;
		}

		for(var i = 0; i < lessons.length; i++) {
			$sidebar.append("<a id='" + lessons[i] + "'>" + prettifyLessonName(lessons[i]) + "</a>");
		}
		$sidebar.append("<a id='" + "yolo" + "'>" + prettifyLessonName("1.2.3.HOLA") + "</a>");
	</script>
</body>
</html>