#sidebar {
	width: 25%;
	float: left;
}

#main {
	width: 75%;
	float: left;
}

body::after {
	content: " ";
	display: table;
	clear: both;
}

header {
	background: #222;
}

header h1{
	font-size: 20pt;
	color: white;
	text-align: center;
	padding: 5px;
}

#sidebar a {
	display: block;
	cursor: pointer;
	color: blue;
	padding: 5px;
}

#sidebar a:hover {
	color: green;
}

#main pre {
	white-space: pre-wrap;
}